{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'messages' %}

{% block fos_user_content %}
    </p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
    <script type="text/javascript">
    	setTimeout(function(){ window.location.href = siteUrl; }, 2000);
	</script>
{% endblock fos_user_content %}
